<div class="pages_flex_wrapper">
	<ul class"pages_lists_list">
		<%_.each(lists, function (list) { %>
			<li class="flex_larger houser_prop_list" data-list=<%=list.get('name')%>>
				<div><%=list.get('name')%></div>  |  <div><%=list.get('properties').length%></div>
			</li>
		<%});%>
	</ul>
</div>
