<div class="signin_wrapper">
	<div class="signin_form">
		<input type="email" class="signin_input houser-signin-email" placeholder="your@email.com">
		<input type="password" class="signin_input houser-signin-password" placeholder="your_password">
		<input type="text" class="signin_input houser-signin-name" placeholder="first_name last_name">
		<input type="button" class="signin_input signin_button houser-submit-button" value="Sign Up">
		<div class="footer"><span>Already have an account? Click login to return to the signin screen.</span>
			<input type="button" class="signin_input signin_button houser-signin-button" value="Return to login">
		</div>
	</div>
</div>
