

	<div class="signin_flex_form">
		<li class="flex_larger">
			<input type="email" class="signin_flex_input houser_signin_input houser-signin-email" placeholder="your@email.com">
		</li>
		<li class="flex_larger">
			<input type="password" class="signin_flex_input houser_signin_input houser-signin-password" placeholder="your_password">
		</li>
		<li class="flex_larger">
			<input type="text" class="signin_flex_input houser_signin_input houser-signin-name" placeholder="first & last name">
		</li>
		<li class="flex_larger">
			<input type="button" class="signin_flex_input signin_flex_button signin_primary houser-submit-signup" value="Sign Up!">
		</li>
		<span class="flex_smaller signin_info_text">If you have an account you can go back to the login page.</span>
		<li>
			<input type="button" class="signin_flex_input signin_flex_button flex_smaller signin_secondary houser-signin-button" value="Return to login">
		</li>
	</div>

