$module-selector: '.propertyLists';

#{$module-selector} {
   margin: 0;
   padding: 0;
   &_list {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      list-style: none;
      padding: 10px;
      background-color: rgba(108, 36, 36, 0.4);
      border-bottom: 1px solid rgba(62, 62, 62, 0.41);;
      cursor: pointer;
   }
   &_item {
      font-weight: 200;
      text-align: center;
      margin-right: 20px;
      font-size: 12pt;
      display: inline-block;
      -webkit-flex-grow: 1;
      flex-grow: 1;
   }
}
